@font-face {
    font-family: "Dosis-Bold";
    src: url("../storage/fonts/Dosis/static/Dosis-Bold.ttf");
};
@font-face {
    font-family: "Dosis-Medium";
    src: url("../storage/fonts/Dosis/static/Dosis-Medium.ttf");
};

*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

header{
    border-radius: 2vh;
    background-color: rgb(0, 0, 0);
}
#title__header{
    color: white;
    font-size: 7vw;
    margin: 0;
    font-family: "Dosis-Bold", sans-serif;
    padding-left: 5vh;
    padding-top: 5vh;

}
#description__header{
    color: gray;
    font-size: 4vw;
    margin: 0;
    margin-bottom: 5vw;
    margin-top: 3vw;
    padding-left: 5vh;
    font-family: "Dosis-Bold", sans-serif;

}
#search__bar{
    background-color: rgb(255, 255, 255);
    border-radius: 5vw;
    border: none;
    margin-left: 9%;
    margin-bottom: 4vh;
    margin-right: 9%;
    width: 82%;
    height: 4vh;
}
.flex__users{
    justify-content: center;
}
.information__user{
    height: 13vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1px solid rgb(199, 197, 197);
}
.section__photo{
    display: flex;
    justify-content: center;
}
.section__information{
    width: 100%;
}
#photo{
    margin: 0;
    margin-left: 2vw;
    width: 65px;
    border-radius: 50%;
}
#name{
    margin: 0;
    margin-top: 3vh;
    margin-left: 4vw;
    font-family: "Dosis-Bold", sans-serif;
    color: gray;
}
#location{
    margin: 0;
    margin-top: 1vw;
    font-size: 3vw;
    margin-left: 4vw;
    font-family: "Dosis-Dosis-Medium", sans-serif;
}
